:root {
  color: #ffffffde;
  background-color: #c3c2c2de;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  color: #747bff;
}

button {
  border-radius: 8px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

button:hover {
  background-color: #646cff;
  border-color: #646cff;
  color: #ffffffde;
}
